<h1>Hello World!</h1>

<h2>Authenticate</h2>
<ul>
  <li><%= link_to 'TimeCrowd', '/auth/timecrowd' %></li>
  <li><%= link_to 'Misoca', '/auth/misoca' %></li>
</ul>

<h2>Misoca App</h2>
<ul>
  <li><%= link_to 'Invoices', invoices_path %></li>
  <li><%= link_to 'Contacts', contacts_path %></li>
</ul>
