<h1>Contacts</h1>
<table border="1">
  <tr>
    <th>ID</th>
    <th>請求先名</th>
  </tr>
  <% @contacts.each do | contact | %>
  <tr>
    <td><%= link_to contact['id'], contact_path(contact['id']) %></td>
    <td><%= contact['recipient_name'] %></td>
  </tr>
  <% end %>
</table>
